name: concordia
channels:
- conda-forge
dependencies:
- attrs
- cattrs
- pandas >=1.1
- pyyaml
- xlrd >=2.0
- openpyxl
- matplotlib
- seaborn
- pyomo
- pytest
- filelock
- deprecated
- pycountry
- dominate
- python-slugify
- seaborn
- tqdm
- jupytext
- colorlog
- ipykernel

# ptolemy dependencies
- netcdf4
- h5netcdf
- dask
- xarray
- pooch
- zarr
- flox
- pyogrio
- geopandas
- bottleneck
- cf_xarray

# pandas-indexing dependencies
- openscm-units

# raster generation
- rasterio
- rioxarray
- geoutils >=0.1
- cartopy
- geopandas
- pyreadr

- pip
- pip:
  - pandas-indexing[units] >=0.4.1
  # Need to integrate new indexraster changes into ptolemy
  - git+https://github.com/gidden/ptolemy.git@add-index-raster#egg=ptolemy-iamc
  - git+https://github.com/iiasa/aneris.git@workflow#egg=aneris-iamc
  - -e .[rescue]
